<h3>Bienvenido</h3>

<h1>Products</h1>

{{#each products}}
<div>
    <h3>{{this.title}}</h3>
    <p>Description: {{this.description}}</p>
    <p>Code: {{this.code}}</p>
    <p>Price: U$D {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Category: {{this.category}}</p>
</div>
{{/each}}